.imagem_fundo {
	display: flex; 
	align-items: center; 
	padding-bottom: 5rem; 
	background-repeat: no-repeat; 
	width: 100%;
}

.menu_glossario{
	display: flex; 
	justify-content: center; 
	padding-top: 7rem; 
	padding-bottom: 4rem;
}

.menu_glossario_design{
	background-color: white; 
	opacity: 0.9; 
	width: 600px; 
	height: 100%; 
	border:solid 0px; 
	border-radius:12px;
}

/*glossario*/
.menu_glossario_letra_borda {
	border:solid 1px; 
	border-radius:1px; 
	border-width: 3px; 
	width: 40px; 
	height: 40px; 
	margin: 1rem; 
	margin-right: 0rem; 
	border-color: #d3d3d3; 
}

.menu_glossario_letra_borda:hover{
	border:solid 1px; 
	border-radius:1px; 
	border-width: 3px; 
	width: 40px; 
	height: 40px; 
	margin: 1rem; 
	margin-right: 0rem; 
	border-color: red; 
}
/* x glossario x */

.menu_glossario_letra{
	text-align: center; 
	font-size: 19px; 
	margin-top: 3px; 
	font-family:time;
}

#erro_alert {
	background-color: white;
	opacity: 1; 
	margin: 5px; border-width:2px; height: 40px;
	border-left-color: rgb(145, 8, 8);
}

#menu_glossario_botao{
	background-color: white;
	opacity: 1; 
	margin: 5px; border-color:#d5d5d5; border-width:2px; height: 40px;
}

#todas_botao{
	background-color: white;
	opacity: 1; 
	margin: 5px; border-color:#d5d5d5; border-width:2px; height: 40px;
}

#audio_botao{
	background-color: white;
	opacity: 1; 
	margin: 5px; border-color:#d5d5d5; border-width:2px; height: 40px;
}

#video_botao{
	background-color: white;
	opacity: 1; 
	margin: 5px; border-color:#d5d5d5; border-width:2px; height: 40px;
}



/*lista de palavras*/
.lista_item{
	margin-bottom: 1rem; border-radius: 5px; width: 100%; box-shadow: inset 0 0 0em white, 0 0 0.3em grey;
}
.lista_item:hover{
	 border-radius: 5px; width: 100%; border-color: red; box-shadow: inset 0 0 1em white, 0 0 1em grey;
}
li.selected{
	margin-bottom: 1rem; border-radius: 5px; width: 100%; border-color: red; box-shadow: inset 0 0 1em white, 0 0 1em grey;
}
/* x lista de palavras x */

.div_resultado{
	margin-left: 0.1rem; margin-right: 0.1rem; margin-bottom: 0.1rem;
}

#titulo_lista{
	font-size: 30px; font-family:arial;
}

#subtitulo_lista{
	font-family:sans-serif; color: #aaaaaa;
}

#titulo_busca{
	font-size: 25px; font-family:arial;
}

#subtitulo_busca{
	font-family:sans-serif; color: #aaaaaa;
}

.div_container{
	margin-bottom: 2rem; 
	border-radius: 10px; 
	width: 100%;
	-webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.26);
	box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.26);
}

.subtitulo_container{
	color:#aaaaaa; font-size: 14px;
}

.div_mais_resultados{
	display: flex; 
	justify-content: center; 
	margin-top: 2rem;
	padding-bottom: 1rem;
}

.campo_contador{
	text-align: center;  border: 2px solid #d5d5d5; width: 150px; height: 39px; border-radius: 5px; padding-top: 5px; margin-bottom: 1rem;
}

.campo_contado_valor{
	margin-left: 5px; color: #acabab;
}

.campo_compartilhar_texto{
	margin-left: 5px; color: #acabab;
}


/*########################### lista_de_palavras ###########################*/

.letra{
	font-size: 100px; font-family: time;
}

.nav_text_size {
	font-size: 100px;
}



/*########################### rodape ###########################*/

.rodape{
	background-color: black; width: 100%; height: 100%;
}

.alinhamento_container{
	text-align: center; margin-top: 1rem;
}

.alinhamento_container_texto{
	text-align: left; color: white; margin-top: 1rem;
}

.rodape_texto{
	margin-bottom: 1rem;
}