.audio-container,
.audio-container *,
.audio-container::after,
.audio-containero::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-family: Avenir,'Avenir Next','Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.player-audio-cursor-show{
    cursor: default;
}
.player-audio-cursor-hidden{
    cursor: none;
}
.player-audio-cursor-show input[type=range],
.player-audio-cursor-show button{
    cursor: pointer;
}
.player-audio-cursor-hidden input[type=range],
.player-audio-cursor-hidden button{
    cursor: none; 
}
.player-audio-cursor-show .player-audio-controls {
    opacity: 1;

}
.player-audio-cursor-hidden .player-audio-controls{
    opacity: 0;
}
.player-audio-cursor-show .player-audio-play-center{
    opacity: 1;
    visibility: visible;
}
.player-audio-cursor-hidden .player-audio-play-center{
    opacity: 0;
    visibility: hidden;
}

.player-audio a,
.player-audio button,
.player-audio input{
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.audio-container {
    position: relative;
    width: 100%;
    min-width: 150px;
    height: auto;
    padding-bottom: 143px;
    border-radius: inherit;
    direction: ltr;
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.player-audio-fullscreen-on{
    height: 100vh;
    padding-bottom: 0;
}

.player-audio:focus {
    outline: 0;
}

.player-audio audio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: inherit;
}

.player-audio .player-audio-legends {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #fff;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.player-audio .player-audio-legends span {
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, .6);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 150%;
    font-size: inherit;

}

.player-audio .player-audio-legends span:empty {
    display: none;
}

.player-audio-cursor-show .player-audio-legends{
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
}

.player-audio-cursor-hidden .player-audio-legends{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@media (min-width: 768px) {
    .player-audio .player-audio-legends {
        font-size: 24px;
    }
}

@media (min-width:1024px) {
    .player-audio .player-audio-legends {
        font-size: 32px
    }
}

.player-audio::-webkit-media-controls {
    display: none;
}

.player-audio audio::-webkit-media-text-track-container {
    display: none;
}

.player-audio .player-audio-controls {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    z-index: 2;
    padding: 7px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    text-align: center;
    pointer-events: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.61)), to(rgba(0, 0, 0, .4)));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.527));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, .4));
    background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, .4));
    border-radius: inherit;
    -webkit-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
    -o-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
}

.player-audio .player-audio-controls>* {
    pointer-events: all;
}

.player-audio button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 4px;
    color: inherit;
    overflow: visible;
    padding: 7px;
    -webkit-transition: background .3s ease, color .3s ease, opacity .3s ease;
    -o-transition: background .3s ease, color .3s ease, opacity .3s ease;
    transition: background .3s ease, color .3s ease, opacity .3s ease;
}

.btns-audio-centrais {
    position: relative;
    top: 20px;
    right: 100px;
    text-align: center;
}

.btns-audio-centrais .quality-sd {
    position: absolute;
}

.btns-audio-centrais button {
    color: white;
    margin: 6.5px;
    padding: 15px;
    font-size: 12px;
    background-color: rgba(51, 51, 51, 0.849);
    /* text-align: center; */
    display: inline;
}

.btns-audio-centrais button:hover {
    color: rgb(0, 0, 0);
    background-color: #000000;
}

.player-audio button.disabled svg{
    opacity: 0.5;
}

.player-audio button:first-child {
    margin-left: 0;
    margin-right: 10px;
}


.player-audio button:hover {
    background-color: #9e9e9ecb;
}

.player-audio button svg {
    position: relative;
    margin: 0 auto;
    display: block;
    fill: #fff;
    width: 18px;
    height: 18px;
    padding-top: 1px;
}

.player-audio .player-audio-play-center {
    position: absolute;
    margin-left: 0;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: #101cca;
    border-radius: 50%;
    vertical-align:middle;
    box-sizing: border-box;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
    -o-transition: opacity .2s .1s ease;
    transition: opacity .2s .1s ease;
}
.player-audio .player-audio-play-center svg{
    width:20px;
    height: 20px;
}

.player-audio .player-audio-presentation,
.player-audio .player-audio-volume {
    position: relative;
    display: inline-block;
    height: 20px;
}

.player-audio .player-audio-presentation {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.player-audio .player-audio-volume{margin-left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden;}
@media (min-width:560px) {.player-audio .player-audio-volume{width: 60px; height: auto; visibility: visible; margin-left: 10px;}}
@media (min-width:1024px) {.player-audio .player-audio-volume  {width: 80px;}}

.player-audio button,
.player-audio input {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.player-audio input[type=range] {
    position: relative;
    display: block;
    z-index: 2;
    height: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: 0 0;
}

.player-audio input[type=range]::-webkit-slider-runnable-track {
    position: relative;
    vertical-align: middle;
    background: 0 0;
    outline: 0;
    border: 0;
    -webkit-user-select: none;
    user-select: none;
    background: 0 0;
}

.player-audio input[type=range]::-webkit-slider-thumb {
    position: relative;
    background: #efeff1;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.player-audio input[type=range]::-moz-range-thumb {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    box-sizing: border-box;
}

.player-audio input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    box-sizing: border-box;
}

.player-audio input[type=range]::-ms-tooltip {
    display: none;
}

.player-audio input[type=range]::-moz-focus-outer {
    border: 0;
}

.player-audio input[type=range]::-moz-range-track {
    background: 0 0;
    outline: 0;
    border: 0;
    height: 6px;
    -moz-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.player-audio input[type=range]::-ms-track {
    background: 0 0;
    outline: 0;
    border: 0;
    height: 6px;
    color: transparent;
    background: 0 0;
}

.player-audio input[type=range]::-ms-fill-upper {
    background: 0 0;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    border: 0;
}

.player-audio input[type=range]::-ms-fill-lower {
    background: 0 0;
    border: 0;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
}

.player-audio input[type=range]:focus {
    outline: 0;
}

.player-audio .player-audio-progress {
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .25);
}

.player-audio .player-audio-progress span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 6px;
    width: 0;
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 100%;
}

.player-audio span.player-audio-pbuffer {
    background-color: rgba(255, 255, 255, .25);
}
/*.player-audio .player-audio-totalTime*/
.player-audio .player-audio-time {
    display: inline-block;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
}
.player-audio .player-audio-tooltip {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, .7);
    line-height: 1.2;
    padding: 5px 7px;
    border-radius: 4px;
    width: auto;
    bottom: 100%;
    margin-bottom: 10px;
    opacity: 0;
    line-height: 1.3;
    left: 50%;
    z-index: 2;
    pointer-events: none;
    left: 50%;
    -webkit-transform: translate(-50%, 0) scale(.8);
    -ms-transform: translate(-50%, 0) scale(.8);
    transform: translate(-50%, 0) scale(.8);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
    transition: opacity .2s .1s ease, -webkit-transform .2s .1s ease;
    -o-transition: transform .2s .1s ease, opacity .2s .1s ease;
    transition: transform .2s .1s ease, opacity .2s .1s ease;
    transition: transform .2s .1s ease, opacity .2s .1s ease, -webkit-transform .2s .1s ease;
}

.player-audio button:hover .player-audio-tooltip,
.player-audio .player-audio-presentation:hover .player-audio-tooltip {
    opacity: 1;
    -webkit-transform: translate(-50%, 0) scale(1);
    -ms-transform: translate(-50%, 0) scale(1);
    transform: translate(-50%, 0) scale(1);
}

.player-audio button:hover .player-audio-tooltip {
    z-index: 3;
}

.player-audio .player-audio-tooltip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .7);
    border-left: 5px solid transparent;
    z-index: 2;
}

.player-audio button:first-child .player-audio-tooltip {
    left: 0;
    -webkit-transform: translate(0, 0) scale(.8);
    -ms-transform: translate(0, 0) scale(.8);
    transform: translate(0, 0) scale(.8);
}

.player-audio button:first-child .player-audio-tooltip:after {
    left: 0;
    -webkit-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
}

.player-audio button:last-child .player-audio-tooltip {
    left: auto;
    right: 0;
    -webkit-transform: translate(0, 0) scale(.8);
    -ms-transform: translate(0, 0) scale(.8);
    transform: translate(0, 0) scale(.8);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.player-audio button:last-child .player-audio-tooltip:after {
    left: auto;
    right: 16px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.player-audio button:first-child:hover .player-audio-tooltip {
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.player-audio button:last-child:hover .player-audio-tooltip {
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.player-audio-loader {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player-audio .player-audio-loader-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: inherit;
}

.player-audio .player-audio-gif {
    position: relative;
    width: 100px;
}

.player-audio .player-audio-spinner {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    text-align: center;
}

.player-audio .player-audio-spinner > div {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: player-audio-sk-bouncedelay 1s infinite ease-in-out both;
    animation: player-audio-sk-bouncedelay 1s infinite ease-in-out both;
}

.player-audio .player-audio-spinner .player-audio-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.player-audio .player-audio-spinner .player-audio-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes player-audio-sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes player-audio-sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* Qualidade de audio 

.player-audio-loader .quality-hd {
    position: absolute;
    top: 100px;
    background-color: rgb(145, 145, 145);
}

.player-audio-loader .quality-sd {
    position: absolute;
}*/